.login{
    width: 500px;
    height: 700px;
    margin: 0 auto;
    background-color: #937DC2;
    .container{
        display: flex;
        flex-direction: column;
        .inputs{
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
        .btn{
            width: 172px;
            height: 49px;
            background-color: transparent;
            color: #937dc2;
            font-size: 1rem;
            line-height: 1.5rem;
            border: 1px solid #937dc2;
            border-radius: 2px;
            cursor: pointer;
            transition: 0.3s;
            &:hover{
                transform: scale(1.2);
                background-color: #C689C6;
                color: #fff;
            }
        }
    }
}