.search-page{
    margin: 40px auto;
    width: 1192px;
    min-height: calc(100vh - 44rem);
    @media screen and (max-width: 1250px) {
        width: 360px;
    }
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 31px;
        flex-wrap: wrap;
        width: 1192px;
        @media screen and (max-width: 1250px) {
            width: 100%;
            flex-direction: column;
        }
    }
}