.about{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 165px;
    @media screen and (max-width: 1250px) {
        margin-top: 0;
    }
    .container{
        max-width: 1192px;
        height: 467px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 61px;
        @media screen and (max-width: 1250px) {
            height: 100%;
            width: 360px;
            flex-direction: column;
        }
        .left{
            padding-top: 43px;
            height: 100%;
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: space-between;
            .title{
                font-size: 2.375rem;
                font-weight: bold;
                margin-bottom: 31px;
            }
            .description{
                margin-bottom: 59px;
                font-size: 1rem;
                font-weight: 400;
                color: #4D4C4C;

            }
            .form{
                display: flex;
                flex-direction: column;
                gap: 32px;
                
                
                input{
                    border: none;
                    border-bottom: 1px solid #937DC2;
                    padding-bottom: 14px;
                    font-size: 1rem;
                    color: #937DC2;
                    transition: 0.3s;
                    &:hover{
                        transform: scale(1.01);
                    }   
                    &::placeholder{
                        color: #937DC2;
                    }
                    &:focus{
                        outline: none;
                    }
                    
                }
            }
            .btn{
                margin-top: 48px;
                padding: 12px 0;
                background-color: #937DC2;
                font-size: 1rem;
                font-weight: 400;
                border-radius: 2px;
                border: none;
                color: #fff;
                transition: 0.3s;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
        .right{
            flex: 1;
            height: 468px;
            overflow: hidden;
            @media screen and (max-width: 1250px) {
                height: 100%;
                width: 360px;
            }
            img{
                width: 577px;
                height: 468px;
                object-fit: cover;
            }
        }
    }
}