.terms {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 103px;
    margin-bottom: 60px;
    overflow: hidden;
    .container {
        width: 1191px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        overflow: hidden;
        @media screen and (max-width: 1250px) {
            width: 360px;
            flex-direction: column;
            align-items: start;
            gap: 30px;
        }
        .left {
            position: relative;
            display: flex;
            align-items: center;
            gap: 25px;
            img{
                transition: 0.3s;
            }
            &::after {
                content: "";
                width: 2px;
                height: 80px;
                background-color: #937dc2;
                position: absolute;
                right: -108px;
                transition: 0.3s;
                @media screen and (max-width: 1250px) {
                    display: none;
                }
            }
            &:hover{
                img{
                    transform: rotateZ(-40deg);
                }
                &::after{
                    transform: scaleY(1.5);
                }
            }
        }
        .middle {
            position: relative;
            display: flex;
            align-items: center;
            gap: 25px;
            img{
                transition: 0.5s;
            }
            &::after {
                content: "";
                width: 2px;
                height: 80px;
                background-color: #937dc2;
                position: absolute;
                right: -100px;
                transition: 0.5s;
                @media screen and (max-width: 1250px) {
                    display: none;
                }
            }
            &:hover{
                img{
                    transform: rotateZ(360deg);
                }
                &::after{
                    transform: scaleY(1.5);
                }
            }
        }
        .right {
            display: flex;
            align-items: center;
            gap: 25px;
            img{
                transition: 0.5s;
            }
            &:hover{
                img{
                    transform: rotateZ(-360deg);
                }
            }
        }
    }
}
